@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url(https://c4.wallpaperflare.com/wallpaper/748/433/119/simple-minimalism-gradient-abstract-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photo detail {
  display: flex;
  flex-direction: row;
}

h1 {
  background-color: #e82a2a;
  color: white;
  font-size: 30px;
  width: 100%;
  padding: 10px;
  font-family: 'Bruno Ace', cursive;
}

h3{
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}

.conta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field {
  width: 35%;
  padding: 25px;
  margin-top: 30px;
  border-radius: 25px;
  color: whitesmoke;
  border: 5px solid white;
  backdrop-filter: blur(1px);
}

label {
  color: white;
  font-size: 15px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
  font-size: 18px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  color: white;
  background-color: #e82a2a;
  cursor: pointer;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subcontainer a {
  font-size: 16px;
  margin-bottom: 12px;
}

span.forgotpsd a {
  float: right;
  color: whitesmoke;
  padding-top: 16px;
}

.forgotpsd a {
  color: rgb(0, 0, 0);
}

.forgotpsd a:hover {
  color: lightblue;
  font-weight: bold;
}

.forgotpsd a:link {
  text-decoration: none;
}

.register {
  color: white;
  text-align: center;
}

.register a {
  color: rgb(0, 0, 0);
}

.register a:hover {
  color: lightblue;
  font-weight: bold;
}

.register a:link {
  text-decoration: none;
}

img {
  margin-top: 5vh;
}

.detail {
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  width: 50%;
  padding: 15px;
  color: whitesmoke;
  border-radius: 20px;
}


/* Style for the footer */
footer {
  background-color: #e82a2a;
  color: #fff;
  text-align: center;
  padding: 30px 0 10px 0 ;
}


.footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.social-icons a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}
