@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

/* navigation bar */

nav {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

a:hover {
    color: #f5c518;
}

/* main */

body {
    font-family: sans-serif;
    background: linear-gradient(to right, #155799, #159957);
    color: whitesmoke;
    font-family: Arial, sans-serif;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-family: 'Bruno Ace', cursive;
}

.head {
    display: flex;
    padding: 10px;
    justify-content: center;
    color: beige;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #ff8c00;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: auto;
}

.card {
    background-color: #bdbdbd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 60px;
    padding: 20px;
    width: 300px;
    height: 280px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.card h2 {
    color: #ff4500;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.add {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.add:hover {
    color: #c52c2c;
}